* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
}

header {
    z-index: 1;
    background-color: white;
    position: sticky;
    top: 0;
}

header figure {
    background-image: url(../assets/header-banner.jpg);
    background-color: black;
    height: 25vh;
}

header nav {
    position: fixed;
    top: 4vh;
    right: 1vw;
}

header nav a {
    box-shadow: 3px 3px gray;
    background-color: #4472c4;
    border: 2px solid black;
    color: white;
    text-decoration: none;
    padding: 0 1.5vw 0 1.5vw;
}

#button-active-page {
    background-color: #70ad47;
}

h1 {
    font-size: 4vh;
    font-style: italic;
    font-weight: lighter;
}

h2 {
    font-size: 2.5vh;
    border-top: 0.3vh solid;
    border-bottom: 0.3vh solid;
    text-align: center;
    padding: 0.5vh 0 1vh 0;
}

main {
    margin: 4vh 1vw 0 1vw;
}

main div,
main div .contact-info {
    width: 48vw;
    vertical-align: top;
    position: relative;
    left: 12vw;
}

main aside {
    z-index: 2;
}

.main-logo {
    background-color: rgba(222, 22, 22, 0.78);
    width: 10vw;
    border: 0.2vw solid;
    position: fixed;
    top: 40vh;
    left: 1vw;
}

.player-photo {
    width: 37vw;
    border: 0.2vw solid;
    position: fixed;
    top: 40vh;
    right: 1vw;
}

div article,
.contact-info p {
    margin: 0 1vw 2vh 1vw;
}

.upcoming-events-subtitle {
    font-style: italic;
}

article p {
    text-indent: 1.5vw;
}