* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
    font-size: 24px;
}

main {
    display: flex;
}

header {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: white;
}

header section {
    display: flex;
    justify-content: space-between;
}

header figure {
    height: 10vh;
    background-color: black;
    background-size: cover;
    background-image: url(../assets/header-banner.jpg);
    background-position: 0 20%;
}

header section nav {
    display: flex;
    transform: translate(-0.5vw, 2vh);
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5vw;
}

header section nav a {
    font-size: 2vh;
    padding: 0 1.5vw 0 1.5vw;
    box-shadow: 0.4vh 0.4vh gray;
    background-color: #4472c4;
    border: 0.2vh solid black;
    color: white;
    text-decoration: none;
}

#button-active-page, .submit:hover {
    background-color: #70ad47;
    
}

h1 {
    font-size: 3vh;
    font-style: italic;
    font-weight: lighter;
}

h2 {
    font-size: 2vh;
    padding: 0.5vh 0 1vh 0;
    border-top: 0.3vh solid;
    border-bottom: 0.3vh solid;
    text-align: center;
}

div.main-section-between-images {
    margin: 2vh 0 2vh 0;
    display: flex;
    flex-direction: column;
    transform: translate(10vw);
    width: 60vw;
    gap: 3vh;
}

div.main-section-between-images article.main-article-upcoming-events h3 {
    font-style: italic;
}

div.main-section-between-images article.main-article-upcoming-events p,
div.main-section-between-images article.main-article-about p,
div.main-section-full-width article p,
div.main-section-full-width article ul.circle-list {
    text-indent: 1.5rem;
}

div.main-section-between-images article.main-article-about,
div.main-section-between-images div.main-article-contact,
div.main-section-full-width article,
div.main-section-full-width dl.table-upper-note,
div.main-section-full-width ol:not(.alpha-list),
div.main-section-full-width form,
fieldset.field-closest-school,
div.parent-permission {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

div.main-section-between-images article.main-article-upcoming-events p a {
    color: rgba(222, 22, 22, 0.78);
}

div.main-section-full-width * {
    font-family: Arial, Helvetica, sans-serif;
}

div.main-section-full-width {
    margin: 2vh 0 2vh 0;
    display: flex;
    flex-direction: column;
    transform: translate(5vw);
    width: 90vw;
    gap: 4vh;
}

div.main-section-full-width article.rules-subtitle {
    text-align: center;
}

.number-list,
.alpha-list,
.circle-list {
    list-style-position: inside;
}

ol.number-list>li::marker {
    font-weight: bold;
  }

.alpha-list {
    list-style-type: lower-alpha;
}

.circle-list {
    list-style-type: circle;
}

#list-item-with-margin {
    margin: 0 5vw 0 5vw;
}

div.main-section-full-width table {
    background-color: rgba(222, 22, 22, 0.78);
    border: 0.2vh solid;
    text-align: center;
}

div.main-section-full-width table tbody td a {
    text-decoration: none;
    color: black;
}

div.main-section-full-width dl.table-upper-note {
    font-style: italic;
}

div.main-section-full-width dl.table-upper-note dd {
    text-decoration: underline;
}

div.main-section-full-width div.table-lower-note {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

div.main-section-full-width div.table-lower-note-contact {
    display: flex;
    justify-content: space-between;
}

div.main-section-full-width div.table-lower-note-contact p a {
    text-decoration: none;
    color: black;
}

div.main-section-full-width table.table-location-map tbody tr td iframe {
    width: 14vw;
    height: 21vh;
    border: 0.2vh solid;
}

div.main-section-full-width table.table-location-map thead th {
    font-size: 0.8rem;
}

img.main-logo {
    margin-top: 2vh;
    background-color: rgba(222, 22, 22, 0.78);
    width: 9vw;
    border: 0.2vh solid;
    position: fixed;
    left: 0.3vw;
}

form>div {
    display: flex;
    flex-direction: column;
    padding-bottom: 2vh;
}

fieldset.field-full-name,
fieldset.field-address,
fieldset.field-city,
fieldset.field-birth-info,
fieldset.field-signature {
    display: flex;
    justify-content: space-between;
    border: none;
    padding-bottom: 0.5vh;
}

fieldset.field-grade,
fieldset.field-closest-school,
fieldset.field-date {
    border: none;
}

fieldset.field-closest-school select {
    width: fit-content;
}


fieldset.field-grade * {
    display: inline-block;
}

fieldset.field-full-name div,
fieldset.field-city div,
fieldset.field-birth-info div,
fieldset.field-date div {
    display: flex;
    width: 50%;
}

fieldset.field-full-name div input,
fieldset.field-address input,
fieldset.field-city div input,
fieldset.field-signature input {
    flex-grow: 1;
    border: none;
    text-decoration: underline;
}

fieldset.field-full-name div label,
fieldset.field-address label,
fieldset.field-city div label,
fieldset.field-birth-info div label,
fieldset.field-birth-info div p,
fieldset.field-birth-info div input,
div.parent-permission label,
fieldset.field-positions div input,
fieldset.field-uniform-size div input {
    margin-right: 0.5vw;
}

fieldset.field-positions,
fieldset.field-uniform-size {
    border: none;
    margin-top: 0.5vh;
}

fieldset.field-positions div,
fieldset.field-uniform-size div {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    margin-top: 0.5vh;
}

fieldset.field-grade label sup {
    font-size: 0.6rem;
}

div.parent-permission article p {
    text-align: justify;
    text-indent: 0;
}

.submit {
    background-color: #4472c4;
    color: white;
    width: 10vw;
    align-self: center;
}

img.image-right-aside {
    margin-top: 2vh;
    width: 29vw;
    border: 0.2vh solid;
    position: fixed;
    right: 0.3vw;
}

body.show-data {
    text-align: center;
}

table.show-data {
    display: flex;
    align-self: center;
}

@media screen and (max-width: 768px) {
    div.main-section-between-images {
        margin-top: 0.5vh;
        width: 80vw;
    }

    fieldset.field-full-name,
    fieldset.field-address,
    fieldset.field-city,
    fieldset.field-birth-info,
    fieldset.field-signature {
        display: inline;
    }

    main aside img {
        visibility: hidden;
    }
}