* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
    font-size: 24px;
}

header {
    z-index: 1;
    background-color: white;
    position: sticky;
    top: 0;
}

header figure {
    background-image: url(../assets/header-banner.jpg);
    background-color: black;
    background-size: cover;
    background-position: 0 20%;
    height: 24vh;
}

header nav {
    position: fixed;
    top: 4vh;
    right: 1vw;
}

header nav a {
    padding: 0 1.5vw 0 1.5vw;
    box-shadow: 3px 3px gray;
    background-color: #4472c4;
    border: 2px solid black;
    color: white;
    text-decoration: none;
}

#button-active-page {
    background-color: #70ad47;
}

h1 {
    font-size: 4vh;
    font-style: italic;
    font-weight: lighter;
}

h2 {
    font-size: 3vh;
    padding: 0.5vh 0 1vh 0;
    border-top: 0.3vh solid;
    border-bottom: 0.3vh solid;
    text-align: center;
}

main {
    margin-top: 4vh;
}

#rules-title {
    text-align: center;
}

main#rules-font * {
    font-family: Arial, Helvetica, sans-serif;
}

img.main-logo {
    background-color: rgba(222, 22, 22, 0.78);
    width: 10vw;
    border: 0.2vw solid;
    position: fixed;
    top: 40vh;
    left: 1vw;
}

img.image-right-aside {
    width: 34vw;
    border: 0.2vw solid;
    position: fixed;
    top: 40vh;
    right: 1vw;
}

article,
.contact-info,
li {
    padding-bottom: 2vh;
}

.italic {
    font-style: italic;
}

main :not(.centered-text-column-full-width) article p {
    text-indent: 1rem;
    font-size: 0.8rem;
}

main section.centered-text-column-full-width ol:not([type="a"]) {
    margin-left: 1rem;
}

ol[type="a"] li {
    padding: 0;
}

.coach-exception {
    margin-left: 2rem;
}

main {
    display: flex;
    justify-content: space-around;
    height: 60vh;
}

section.centered-text-column-full-width {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

table {
    background-color: rgba(222, 22, 22, 0.38);
    height: 35vh;
    width: 90vw;
    text-align: center;
    align-self: center;
    border: 0.2vw solid;
}

section.centered-text-column-full-width div p {
    font-style: italic;
}

.table-note{
    text-decoration: underline;
}